.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  z-index: 1;
  opacity: 0.85;
  position: fixed;
  background-color: white;
  width: 100%;
  .nav-responsive {
    .nav-mobile {
      position: sticky;
      .navbar-toggler {
        border: none;
        &:focus {
          box-shadow: none;
        }
        img {
          width: 30px;
        }
      }
      #offcanvasNavbar {
        .offcanvas-header {
          img {
            width: 100px;
            z-index: 5;
            background-color: white;
            .btn-close{
              box-shadow: none!important;
             &:focus{
              box-shadow: none!important;
             }
            }
          }
        }
        .offcanvas-body {
          .navbar-nav {
            .login {
              align-items: center;
              img {
                width: 25px;
              }
              p {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  .nav-desck {
    .navbar-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      a {
        margin: 8px;
        .btn {
          &:active {
            border-color: transparent;
          }
          img {
            width: 25px;
          }
        }
      }
    }
  }
  #carrito {
    .btn {
      margin-right: 10px;
      &:active {
        border-color: transparent;
      }
      .volumenCarrito {
        position: absolute;
        bottom: 30px;
        right: 15px;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        z-index: -1;
        background-color: green;
        p {
          text-align: center;
          justify-items: center;
          color: white;
          font-size: small;
          font-weight: 700;
        }
      }
    }

    .total {
      display: flex;
      justify-content: end;
      h5 {
        text-align: end;
      }
      .botonComprar {
        position:inherit;
        justify-items: end;

        background-color: black !important;
        border: 3px solid red;
      }
    }
    .btn-close {
      &:focus {
        box-shadow: none;
      }
    }
    #checkLog {
      margin: auto;
    }
    .offcanvas-title {
      margin-left: 20px;
      font-weight: 500;
      font-size: 30px;
    }
    .cardCarrito {
      .card {
        padding: 0;
        height: 100%;
        font-size: small !important;
        .row{
          align-items: center;
        .col-5{
         
        .rounded-start {
          width: 100%;
         margin: auto;
        }
      }
    }
        .card-body {
          padding: 3px;
          margin-left: 10px;
          h5 {
            font-size: medium;
            margin-top: 4px;
            margin-bottom: 0;
          }
          .precioCard {
            margin: 0;
          }
          img {
            width: 15px;
          }
          .trash {
            margin-bottom: 10px;
            margin-right: 0;
            padding: 0;
          }
        }

        .itemsCantidad {
          display: flex;
          small {
            button {
              padding: 0;
              margin: 0;
              width: 25px;
              font-size: large;
              text-align: center;
            }
            .restarUno {
              padding-bottom: 3px;
            }
          }
        }
      }
    }
    .carrito {
      img {
        width: 30px;
      }
    }
  }
  .navbar-brand {
    img {
      width: 100px;
    }
  }
}
