.mainLogin {
  align-items: center;
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dyksknsxc/image/upload/v1670201961/sendero_en_monta%C3%B1a_baexwi.jpg");

  background-position: top;

  #nav-tab {
    margin-top: 100px;
    .nav-link.active {
      border-color: black;
    }
    button {
      background-color: transparent;
      color: black;
      &:active {
        border-color: black;
      }
      &:focus-within {
        border: 2px 2px 0px 2px solid rgb(0, 0, 0);
        color: red;
      }
    }
  }
  #nav-tabContent {
    .form {
      border: 1px solid black;
      border-radius: 10px;
      margin: 20px;
      padding: 20px;
      background-color: transparent;
      .deslog {
        background-color: black;
        border: 3px solid red;
        &:active {
          background-color: red;
          border: 3px solid rgb(255, 136, 0);
        }
      }
      h3 {
        color: white;
        font-weight: 600;
      }
      form {
        input {
          margin: 10px 5px;
          font-size: smaller;
        }
        .btn {
          background-color: black;
          border: 3px solid red;
          font-size: larger;
          &:active {
            background-color: red;
            border: 3px solid rgb(255, 136, 0);
          }
        }

        p {
          font-size: xx-small;
          color: red;
          padding-left: 10px;
        }
        button {
          margin: 10px;

          background-color: black;
          border: 3px solid red;
          &:active {
            background-color: red;
            border: 3px solid rgb(255, 136, 0);
          }
        }
      }
    }
  }
}
