.mainLogin {
  align-items: center;
  min-height: 90vh;
  #nav-tab {
    margin-top: 100px;
    
  }
  #nav-tabContent {
    .form {
      border: 1px solid black;
      border-radius: 10px;
      margin: 20px;
      padding: 20px;

      form {
        input {
          margin: 10px 5px;
          font-size: smaller;
        }
        p{
          font-size: xx-small;
          color: red;
          padding-left: 10px;
        }
        button {
          margin: 10px;
          background-color: #707070;
          border: none;
        }
      }
    }
  }
}
