.mainNosotros {
  background-image: linear-gradient(to top, #d8d8d8, #ffffff);
  .imagenNosotrosMain {
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    object-position: 0 60%;
  }
  .nosotros {
    padding: 20px;
    .nosotrosTitulo {
      margin-top: 20px;
      text-align: center;
    }

    img {
      width: 50%;
      max-width: 400px;
      float: left;
      padding: 5px 10px 10px 10px;
    }
  }
}
